<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="psd" value="" />
    <add key="keyword" value="" />
    <add key="threadcount" value="5" />
    <add key="requestTimeout" value="1800000" />
    <add key="serviceFrequency" value="10000" />
    <add key="AutoUpdateCacheTimeSeconds" value="3600" />
    <add key="DelayUpdateCacheTimeDuration" value="30" />
    <add key="CacheAPI" value="" />
    <!-- 连接数据库-->
    <add key="databasetype" value="system.data.sqlclient" />
    <add key="databaseconnectionString" value="Data Source=; Initial Catalog=; User ID=;Password=;Trusted_Connection=yes; Persist Security Info=true;Integrated Security=false;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <file value="D:\Interface.Logging\SubDis\DistributionLog\" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="500MB" />
      <staticLogFileName value="false" />
      <datePattern value="yyyy-MM-dd'_SubDisService.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[Time:%date][Thread:%thread][%-5level][M]:%message %n" />
      </layout>
    </appender>
    <appender name="StatusCacheLogging" type="log4net.Appender.RollingFileAppender,log4net">
      <file value="D:\Interface.Logging\SubDis\InternalCacheStatusLog\" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="500MB" />
      <staticLogFileName value="false" />
      <datePattern value="yyyy-MM-dd'_StatusCache.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="Time:%date Thread:%thread %-5level %message %n" />
      </layout>
    </appender>
    <logger name="StatusCacheLog">
      <level value="ALL" />
      <appender-ref ref="StatusCacheLogging" />
    </logger>
    <logger name="DistributionXML">
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </logger>
    <root>
      <!--<level value="INFO"/>
      <appender-ref ref="RollingLogFileAppender"/>-->
    </root>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>